<!DOCTYPE html>
<html>
<head>

</head>
	<h1 style="text-align:center;font-family:arial;"> Tic Tac Toe! </h1>
	<h2 style="text-align:center;font-family:arial;"> Welcome </h2>
	<form style="text-align:center">
	Username: <input type="text" name="firstname"><br>
	Password: <input type="password" name="lastname"><br>
  <input type="button" name="createaccount" value="Create Account" onclick="location.href='createAccount.html'"><br>
  <input type="button" name="login" value="Login" onclick="location.href='loginPage.html'">
  </form>

</html>
